html {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#content {
    margin: 0% 10%;
}

.with-border {
    margin-top: 5px;
    padding: 1px 5px;
    border: 1px solid black;
}

.warning {
    color: red;
}