a {
    color: purple;
    background-color: lightpink;
}

a:hover {
    font-weight: 800;
}

.purple-pink {
    color: purple;
    background-color: lightpink;
}

.blue {
    color: blue;
}

.caps-thin {
    letter-spacing: 2px;
    font-weight: 200;
    font-variant: small-caps;
}

#best-link {
    font-size: 2rem;
    color: red;
    padding: 5px;
}

h1:hover {
    background-color: cyan;
}
